body {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(229, 229, 229)
}

.chat-btn {
    margin: 4px;
    position: fixed;
    bottom: 4px;
    right: 4px;
    opacity: 0.4;
}

.chat-btn:hover {
    opacity: 1;
}

.ai-mode-btn {
    margin: 4px;
    position: fixed;
    bottom: 4px;
    left: 4px;
    opacity: 0.7;
}

.ai-mode-btn:hover {
    opacity: 1;
}

.party-list {
    margin: 4px;
    position: fixed;
    top: 4px;
    right: 4px;
    text-align: right;
    opacity: 0.4;
}

.party-list:hover {
    opacity: 1;
}

#party-modal-chat {
    text-align: left;
}

#chat-list {
    margin: 4px;
    position: fixed;
    top: 4px;
    left: 4px;
    text-align: left;
    white-space: nowrap;
}

.chat-message {
    opacity: 1;
    animation-name: chat-message-display;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-bottom: 0px;
}

.chat-message:hover {
    animation-name: unset;
}

@keyframes chat-message-display {
    from { opacity: 1 }
    to {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}

.hori-scroll {
    margin: 4px;
    overflow: auto;
    white-space: nowrap;
}

.hori-scroll button {
    margin: 4px;
}

.playground {
    padding: 8px;
}

.loading {
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    .party-list {
        margin-top: env(safe-area-inset-top);
    }

    .modal {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    .playground {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/* Touch Keypad */

.touch-keypad {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    padding-bottom: env(safe-area-inset-bottom);
}

.touch-keypad .btn-group-vertical {
    width: 100%;
}

.touch-keypad .numeric-keypad {
    width: 75%;
}

.touch-keypad-key {
    min-height: 58px;
}