body {
    background-color: rgb(229, 229, 229)
}

.party-list {
    margin: 4px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.hori-scroll {
    margin: 4px;
    overflow: auto;
    white-space: nowrap;
}

.hori-scroll button {
    margin: 4px;
}

.playground {
    padding: 8px;
}

.loading {
    margin-top: 1rem;
}